<div class="h-20 w-full bg-orange-900 ">
	<div class="h-20 w-full max-w-7xl flex mx-auto justify-between items-center">
		<div class="text-white">Copyright © 2024 IE ESC NS DEL MAGDALENA MEDIO</div>
		<div class="text-white"> Diseñado por SIEMPRE.NET S.A.S</div>
	</div>
</div>